body {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  border: black 5px solid;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e7e7e7b7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.price-tag {
  margin-bottom: -10px;
  font-size: 30px;
}

.child-info {
  margin-bottom: 20px;
  font-weight: bold;
  color: #696969b7;
}

.link {
  color: #000;
}

.link:hover {
  text-decoration: none;
}

.product-details {
  text-transform: uppercase;
}

.list {
  list-style: square;
}

.button {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  background-color: #000;
  text-transform: uppercase;
  font-size: 20px;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
}

.button a:hover {
  color: #000;
}
